<div class="row card" style="; border-radius:5px;border: 1px solid #E3E3E3;">
	<div class="col-lg-8 col-md-8 col-sm-12" style="border-radius: 5px;">

		<h3 class="text-center title"> Song List </h3>
		<p></p>
		<div class="bio">
		<% if current_user %>
			<h5 class="text-center" style="font-weight:bold;"><%= link_to "Click to Add a Song", new_event_path, class:'add-event' %></h5>
		<% end %>
		<% @events.each do |e| %>
			<h5 class="text-center"> <%= e.event %> </h5>
			<% if current_user %>

				<%= link_to '', edit_event_path(e), class: "glyphicon glyphicon-pencil", style:"margin-right: 5px;" %> 
				<%= link_to '', event_path(e), method: :delete, data: {confirm: "Are you sure?"}, style:'color:red;', class: "glyphicon glyphicon-trash" %>
			<% end %>
			<br>
		<% end %>
		</div>	
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12" style=" border-radius: 5px;">
		<div class="contact">
			<%= render 'shared/contact' %>
		</div>
	</div>
</div>

<footer style="position: relative;
              height: 40px;
              right: 0;
              bottom: 0;
              left: 0;
              padding: 1rem;
              text-align: center;
              color:white;
              margin:15px 0;">
  <!-- &copy; Censation Band 2018 -->
</footer>


