<div class="row card" style="border-radius:5px;border: 1px solid #E3E3E3;">
	<h3 class="text-center title"> Meet the Members of the Band </h3>

	<div class="container">
		<!-- row 2 -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<!-- row 3	 -->
				<div class="row" style="margin:25px 0 25px 0;">
					<div class="col-lg-6 col-md-6 col-sm-12" style="border-radius:5px;">	
					  <div class="column">
					    <div class="profile-card">
							<%= image_tag("vocalist_1.2.png", :style => "width:100%;height:50%;border-radius:5px 5px 0 0;") %>
					      <div class="container">
					        <h2 class="name">Calvin Soriano</h2>
						        <p class="band-role">Vocalist		
							        <a href="https://www.instagram.com/hoycalbeeno/" target="_blank"><i class="fa fa-instagram"></i></a>   
									<a href="https://www.facebook.com/calvin.soriano" target="_blank"><i class="fa fa-facebook"></i></a>
								</p>
					      </div>
					    </div>
					  </div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12" style="border-radius:5px;">	
					  <div class="column">
					    <div class="profile-card calvin">
							<%= image_tag("vocalist_2.2.png", :style => "width:100%;height:50%;border-radius:5px 5px 0 0;") %>
					      <div class="container">
					        <h2 class="name">Ashley Soriano</h2>
						        <p class="band-role">Vocalist		
							        <a href="https://www.instagram.com/youassley/" target="_blank"><i class="fa fa-instagram"></i></a>   
									<a href="https://www.facebook.com/YouAssley?ref=br_rs"><i class="fa fa-facebook" target="_blank"></i></a>
								</p>
					      </div>
					    </div>
					  </div>
					</div>

					<!-- row 2 -->
					<div class="col-lg-6 col-md-6 col-sm-12" style="border-radius:5px;">	
					  <div class="column">
					    <div class="profile-card" style="margin-top:25px;">
							<%= image_tag("pianist.jpg", :style => "width:100%;height:50%;border-radius:5px 5px 0 0;") %>
					      <div class="container">
					        <h2 class="name">Max Guiterrez</h2>
						        <p class="band-role">Pianist		
<!-- 							        <a href="#"><i class="fa fa-instagram"></i></a>   
									<a href="#"><i class="fa fa-facebook"></i></a> -->
								</p>
					      </div>
					    </div>
					  </div>
					</div>


					<div class="col-lg-6 col-md-6 col-sm-12" style="border-radius:5px;">	
					  <div class="column">
					    <div class="profile-card" style="margin-top:25px;">
							<%= image_tag("guitarist.jpg", :style => "width:100%;height:50%;border-radius:5px 5px 0 0;") %>
					      <div class="container">
					        <h2 class="name">Keith Madrid</h2>
						        <p class="band-role">Guitarist		
<!-- 							        <a href="#"><i class="fa fa-instagram"></i></a>   
									<a href="#"><i class="fa fa-facebook"></i></a> -->
								</p>
					      </div>
					    </div>
					  </div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12" style="border-radius:5px;">	
					  <div class="column">
					    <div class="profile-card" style="margin-top:25px;">
							<%= image_tag("drummer.jpg", :style => "width:100%;height:50%;border-radius:5px 5px 0 0;") %>
					      <div class="container">
					        <h2 class="name">Nelson Santos</h2>
						        <p class="band-role">Drummer	
<!-- 							        <a href="#"><i class="fa fa-instagram"></i></a>   
									<a href="#"><i class="fa fa-facebook"></i></a>  -->
								</p>
					      </div>
					    </div>
					  </div>
					</div>
			
					<div class="col-lg-6 col-md-6 col-sm-12" style="border-radius:5px;">	
					  <div class="column">
					    <div class="profile-card" style="margin-top:25px;">
							<%= image_tag("coming_soon.png", :style => "width:100%;height:50%;border-radius:5px 5px 0 0;") %>
					      <div class="container">
					        <h2 class="name">Kim Hart</h2>
						        <p class="band-role">Bass		
<!-- 							        <a href="#"><i class="fa fa-instagram"></i></a>   
									<a href="#"><i class="fa fa-facebook"></i></a> -->
								</p>
						  </div>
					    </div>
					  </div>
					</div>
				</div>	
				<!-- end row 3 -->
			</div>
			<!-- end col-lg-8 -->

			<div class="col-lg-4 col-md-4 col-sm-12" style=" border-radius: 5px;">
				<div class="contact contact-about">
					<%= render 'shared/contact' %>
				</div>
			</div>

		</div>
		<!-- end row 2  -->
	</div>
	<!-- end container -->

	<h5 class="text-center" style="color:red;"> *Disclaimer: Members of the band shown on our website are subject to change without notice. </h5>

</div>
<!-- end row card 1	 -->		

<footer style="position: relative;
              height: 40px;
              right: 0;
              bottom: 0;
              left: 0;
              padding: 1rem;
              text-align: center;
              color:white;
              margin:15px 0;">
 <!--  &copy; Censation Band 2018 -->
</footer>