
<!-- Slideshow -->
<ul class="rslides" id="slider">
  <li><%= image_tag 'band_3.jpg', alt:'' %></li>
  <li><%= image_tag 'band_2.jpg', alt:'' %></li>
  <li><%= image_tag 'band_1.jpg', alt:'' %></li>
</ul>


<div class="card" style="border-radius: 5px;">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<p></p>
			<div class="bio">
        <h3 class="bio-header-font text-center">The Centsation Band </h3>

				<h5 class="bio-font">The Centsation Band is your key for live musical entertainment at your next event! We play all the greatest hits you know and love from 70’s, 80’s, 90’s & 00’s. The Centsation Band’s genres include Funk, R&B, Disco, Motown, and Top 40's hits. The Centsation Band will add that special touch to your special occasion and will have your guests dancing all night long! </h5>

        <br>

        <h5 class="bio-font">The band is led by the brother-sister duo, Calvin & Ashley Soriano. They’ve both have been singing since the young age of 4. They began performing with various bands around the Bay Area for almost a decade. With their well-versed musical and entertainment background, you and your guests are promised an experience you’ll always remember. </h5>

      <section id="events">
        <% if current_user %>
          <h5 class="text-center" style="font-weight:bold;"><%= link_to "Click to Add an Event", new_show_path, class:'add-event' %></h5>
        <% end %>
        <h3 class="bio-header-font text-center"> Our Events </h3>
        <% @shows.each do |show| %>
          <h5 class="bio-font text-center"><%= show.shows %>
            
            <% if current_user %>
            <%= link_to '', edit_show_path(show), class: "glyphicon glyphicon-pencil", style:"margin-right: 5px;" %> 
            <%= link_to '', show_path(show), method: :delete, data: {confirm: "Are you sure?"}, style:'color:red;', class: "glyphicon glyphicon-trash" %>
          <% end %>
          </h5>
        <% end %>
      </section>
			</div>
		</div>
	</div>
</div>

<footer style="position: relative;
              height: 15px;
              right: 0;
              bottom: 0;
              left: 0;
              padding: 1rem;
              text-align: center;
              color:white;
              margin:15px 0;">
  <!-- &copy; Censation Band 2018 -->
</footer>

<script>
$(function() {
$(".rslides").responsiveSlides();
});
</script>
